
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>O aplikacji</title>
</head>
<body>
    <h2>
        Do czego służy?
    </h2>
    <p>Aplikacja służy zarejestrowanym użytkownikom do przechowywania ich postaci przygotowanych do gier RPG</p>
    <h2>
        RPG? Co to?
    </h2>
    <p>RPG, czyli Role-Playing Game to forma gry towarzystkiej, która jest oparta na narracji. Gracze wcielają się w role fikcyjnych postaci, a Mistrz Gry - czyli narrator - opowiada im pewną historię.</p>
    <h2>Czemu akurat taki pomysł na aplikację?</h2>
    <p>Przede wszystkim bardzo lubię tę formę spędzania czasu ze znajomymi. Po drugie, mamy tutaj idealne tabele z piękną relacją! Jeden gracz może mieć wiele postaci (a jedną postacią nie może grać wielu graczy, bo to by było dziwne).</p>
</body>
</html>
