
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Oops!</title>
</head>
<body>
    <p> </p>
    <h1>
        Ojej! Coś poszło nie tak.
    </h1>
    <p> </p>
    <p> </p>
    <div>
        @Html.ActionLink("Pora wrócić do normy", "Index", "Home")
    </div>
</body>
</html>
