@model dotNET.Controllers.StringModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if(Session["player"] == null)
    {
        Response.Redirect("~/Session/Form");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset hasła</title>
</head>
<body>
    <p> </p>
    <p> </p>
    <div>Zresetowane hasło: @Html.DisplayFor(model => model.Text)</div>
    <p> </p>
    <p> </p>
    <p> </p>
    <div>
        @Html.ActionLink("Powrót", "Index")
    </div>
</body>
</html>
